html {
    @include laptop {
        font-size: rem(15px);
    }

    @include phones {
        font-size: rem(13px);
    }
}

body {
    margin: 0;
    padding: 0;
    font-size: rem(16px);
    @include roboto();
    line-height: 1.42;
    color: $gray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
    min-height: 100%;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: underline;
    color: $link;
    @include roboto(medium);

    &:hover {
        text-decoration: none;
    }
}

img{
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}


/*.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}*/

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.section {
    position: relative;
    display: flex;

    &:last-child {
        &:after {
            content: '';
            display: block;
            padding-bottom: -($footer-offset);

            @include laptop {
                padding-bottom: -($footer-offset-laptop);
            }

            @include tablets {
                padding-bottom: -($footer-offset-tablet);
            }

            @include phones {
                padding-bottom: -($footer-offset-phones);
            }
        }
    }
}

.container {
    width: 95%;
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include laptop {
        max-width: 1200px;
    }
}

.overlay {
    position: absolute;
    display: none;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $green_l;
    opacity: .85;
    z-index: 1;

    &_show {
        display: block;
    }
}

.preloader {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    display: none;
}

.preloader__container {
    position: relative;
}

.preloader__svg {

}

.preloader__line {
    stroke:$white;
    stroke-width:3.9003;
    stroke-miterlimit:10;
    fill:none;
    stroke-dasharray: 80;
    stroke-dashoffset: 140;
    transition: all 1s;

    &_first {
        path {
            d: path('M 0 38.005 c 6.663 0 6.663 7.801 13.327 7.801 c 6.665 0 6.665 -7.801 13.33 -7.801 c 6.667 0 6.667 7.801 13.334 7.801 c 6.666 0 6.666 -7.801 13.331 -7.801 c 6.67 0 6.67 7.801 13.339 7.801 S 73.33 38.005 80 38.005');
        }
    }

    &_second {
        path {
            d: path('M 0 61.684 c 6.663 0 6.663 7.801 13.327 7.801 c 6.665 0 6.665 -7.801 13.33 -7.801 c 6.667 0 6.667 7.801 13.334 7.801 c 6.666 0 6.666 -7.801 13.331 -7.801 c 6.67 0 6.67 7.801 13.339 7.801 S 73.33 61.684 80 61.684');
        }
    }

    &_third {
        path {
            d: path('M 0 85.362 c 6.663 0 6.663 7.801 13.327 7.801 c 6.665 0 6.665 -7.801 13.33 -7.801 c 6.667 0 6.667 7.801 13.334 7.801 c 6.666 0 6.666 -7.801 13.331 -7.801 c 6.67 0 6.67 7.801 13.339 7.801 S 73.33 85.362 80 85.362');
        }
    }
}

.preloader__text {
    position: absolute;
    color:$white;
    width: 100%;
    top: 0;
    text-align: center;
    left: 0;
}