.footer {
    //margin-top: $footer-offset;
    color:$white;
    @include roboto(light);
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

.footer__top, .footer__bottom {
    opacity: .85;
}

.footer__top {
    background-color: $dark;
    padding-bottom: rem(58px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @include laptop {
        flex-wrap: wrap;
    }

    @include phones {
        text-align: center;
    }

}

.footer__column {
    width: 32%;
    position: relative;
    margin-top: rem(25px);
    padding: 0 rem(20px) 0;

    &:after {
        content: '';
        width: 1px;
        background-color: #fff;
        opacity: .2;
        display: inline-block;
        height: 87px;
        position: absolute;
        right: 0;
        top: 0;
    }

    &:last-child {
        &:after {
            display: none;
        }
    }

    p {
        margin: 0;
    }

    @include laptop {
        width: 43%;

        &:after {
            display: none;
        }

        &:last-child {
            margin-top: rem(50px);
            width: 100%;
        }

        &:first-child {
            &:after {
                display: block;
            }
        }
    }

    @include  phones {
        width:100%;
        padding-bottom: 22px;

        &:after {
            width: 80%;
            background-color: #fff;
            margin: 0 auto;
            opacity: .2;
            height: 1px;
            position: absolute;
            left: 0;
            top: initial;
            bottom: 0;
            display: block;
        }

        &:last-child {
            margin-top: rem(25px);
        }
    }
}

.footer__menu{
    margin-bottom: rem(25px);
}

.footer__bottom {
    background-color: $green_l;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &_color_transparent {
        background-color: transparent;
    }
}

.footer__container-bottom {
    flex-direction: row;
    justify-content: center;
}

.footer__copyright {
    text-align: center;
    p {
        margin: rem(5px) auto;
    }
}

.copyright {
    &_page_welcome {
        line-height: 4;
    }
}