.header {
    min-height: 600px;
    flex-direction: column;

    &_about {
        background: url('../images/bg/about-bg.jpg') no-repeat;
        background-size: cover;
    }

    &_works {
        background: url('../images/bg/works-bg.jpg') no-repeat;
        background-size: cover;
    }
}

.header__top, .header__bottom {
    display: flex;
    padding: 0 30px;
}

.header__socials {
    padding-top: 32px;
    flex-basis: 50%;
}

.header__menu {
    padding-top: 28px;
    flex-basis: 50%;
    text-align: right;
}

.header__user {

    margin: 100px auto 0;
    //flex-grow: 1;
}

.header__arrow {
    bottom: 70px;
}