.header {
    min-height: 600px;

    &_about {
        background: url('../images/bg/about-bg.jpg') no-repeat;
        background-size: cover;
    }
}

.header__top, .header__bottom {
    display: flex;
}

.header__socials {
    padding-top: 32px;
    flex-basis: 50%;
}

.header__menu {
    padding-top: 28px;
    flex-basis: 50%;
    text-align: right;
}

.header__user {

    margin: 100px auto 0;
    //flex-grow: 1;
}

.header__arrow {
    position: absolute;
    left:0;
    right:0;
    bottom: 70px;
    text-align: center;
}