footer.footer.section
    .footer__row
        .footer__column
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer__column
            nav.menu.footer__menu
                +menu(settings.title,menu)

            .socials.footer__socials
                +socials(socials)

        .footer__column
    .footer__row
        .copyright.footer__copyright
            include ../common/_copyright