header(class=`header section header_${settings.page}`)
    .header__top
        .socials.header__socials
            +socials(socials)

        .hamburger.header__menu
            svg.hamburger__shape
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./images/sprite.svg#hamburger")

        nav.menu.menu-fixed
            +menu(settings.title, menu)

    .header__bottom
        if settings.show_user_info
            .user.header__user
                .user__avatar
                    img.user__image(src="./images/content/avatar-title.jpg")
                .user__info
                    .user__name Владимир Астахов
                    .user__description Личный сайт веб разработчика
        else
            .block-title.header__title
                .block-title__avatar
                    img.block-title__image(src="./images/content/avatar-title.jpg")
                .block-title__text
                    h1.section-title.section-title_color_white #{settings.title}
                .block-title__subtext
                    p #{settings.subtitle}

    if settings.show_user_info
        .scroll-arrow.header__arrow
            svg.scroll-arrow__shape
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./images/sprite.svg#arrow_down")