-
    var menu = [
        {
            name: 'Мои работы',
            link: './works.html'
        },
        {
            name: 'Блог',
            link: './blog.html'
        },
        {
            name: 'Обо мне',
            link: './about.html'
        },
        {
            name: 'Авторизация',
            link: './login.html'
        }
    ];

- var socials = ['vk', 'github', 'in'];