.btn {
    color:$white;
    background-color: $green_l;
    padding: 10px 20px;
    cursor: pointer;
    @include roboto(medium);
    display: flex;
    align-items: center;

    &:hover {
        background-color: $green_d;
    }

    &_view_round {
        border-radius: 25px;
    }

    &_fill_transparent {
        background-color: transparent;
        border: 1px solid $white;

        &:hover {
            background-color: $green_l;
            border: 1px solid transparent;
        }
    }

    &_icon_link {
        &:before {
            content: '';
            margin-right: 10px;
            background: url('../images/content/link.png') no-repeat;
            width: 20px;
            height: 19px;

        }
    }
}