.form__container {
    padding: 40px 20px 40px;
}

.form__fields {
    display: flex;
    flex-direction: column;
}

.form__row {
    margin-bottom: 20px;

    &_align_center {
        display: flex;
        justify-content: center;
    }

    &_column {
        flex-direction: column;
        align-items: center;
    }

    &:last-child {
        //margin-bottom: 0;
    }
}

.form__label {
    color:$white;

    &_checkbox {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;


        &:before {
            content: '';
            position: relative;
            width: 20px;
            height: 20px;
            background-color: $white;
            border: 0;
            margin-right: 10px;
            border-radius: 2px;
        }

        &:after {
            width: 11px;
            height: 9px;
            content: '';
            background: url('../images/content/check.png') 50%/contain no-repeat;
            display: none;
            position: absolute;
            color: $white;
            top: 6px;
            left: 5px;
        }
    }

    &_radio {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        white-space: nowrap;

        &:before{
            content: '';
            position: relative;
            width: 20px;
            height: 20px;
            background-color: $white;
            border: 0;
            border-radius: 50%;
            margin-right: 10px;
        }

        &:after{
            content: '';
            display: none;
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: $green_l;
            border-radius: 50%;
            top: 7px;
            left: 6px;
        }
    }
}

.form__input, .form__textarea {
    width: calc(100% - 40px);
    border-radius: 25px;
    border:0;
    padding: 10px 20px;
    color: #5d5a55;
    outline: 0;

    &_type_checkbox {
        display: none;

        &:checked {
            & + .form__label_checkbox {
                &:before {
                    background-color: $green_l;
                }

                &:after {
                    display: block;
                }
            }
        }
    }

    &_type_radio {
        display: none;

        &:checked {
            & + .form__label_radio {
                &:after {
                    display: block;
                }
            }
        }
    }
}

.form__textarea {
    resize: none;
    height: 140px;
}

.form__group-fields {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.form__buttons {
    display: flex;
    position: absolute;
    bottom:0;
    width: 100%;
}

.form__btn {
    flex:1;
    border: 0;
    @include roboto(medium);
    display: block;
    text-align: center;
    outline: 0;


    border-left: 1px solid rgba($white, .5);
    border-right: 1px solid rgba($white, .5);

    &:first-child{
        border-left: none;
        border-radius:0 0 0 4px;
    }

    &:last-child{
        border-right: none;
        border-radius:0 0 4px 0;
    }
}