
.hamburger {
    cursor: pointer;
}

.hamburger__shape {
    width: 40px;
    height: 35px;
    fill: $white;

    &:hover {
        fill:$green_l;
    }
}

.menu-fixed {
    display: none;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;

    @include phones {
        justify-content: center;
    }
}

.menu__item {
    margin-right: 5%;

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;
    color:$white;
    @include roboto(bold);
    white-space: nowrap;

    &:hover {
        text-decoration: underline;
    }

    &_active {
        text-decoration: underline;
    }
}
