
.wrapper-menu {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &_opened {
        display: flex;
    }
}

.menu__list {
    display: flex;
    flex-wrap: wrap;

    @include phones {
        justify-content: center;
    }
}

.menu__item {
    margin-right: 5%;

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;
    color:$white;
    @include roboto(bold);
    white-space: nowrap;

    &:hover {
        text-decoration: underline;
    }

    &_active {
        text-decoration: underline;
    }
}


.fixed-menu {

}

.fixed-menu__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.fixed-menu__link {
    @include sansus();
    font-size: rem(63px);
    color:$white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;

    &:after {
        content: '';
        display: block;
        margin-top: 20px;
        width: rem(90px);
        height: rem(3px);
        background-color: transparent;
    }

    &:hover, &_active {
        &:after {
            background-color: $white;
        }
    }



}