.socials {

}

.header__socials {

    .socials__shape {
        fill: $white;

        &:hover {
            fill:$green_l;
        }
    }

}

.footer__socials {

    .socials__shape {
        opacity: .5;

        &:hover {
            opacity: 1;
        }
    }

}

.socials__list {
    display: flex;
}

.socials__item {
    margin-right: 28px;

    &:last-child {
        margin-right: 0;
    }
}

.socials__shape {
    display: block;
    fill: $white;

    &_vk{
        width: 32px;
        height: 22px;
    }

    &_github{
        width: 28px;
        height: 22px;
    }

    &_in{
        width: 24px;
        height: 22px;
    }
}