.section-title {
    font-size: rem(63px);
    @include sansus();
    text-align: center;
    color:$dark;
    margin: rem(70px) 0;
    text-transform: uppercase;
    line-height: 1;

    &:after {
        content: '';
        display: block;
        height: rem(3px);
        background-color: $dark;
        width: rem(90px);
        margin: rem(10px) auto 0;
    }

    &_color_white {
        color:$white;

        &:after {
            background-color: $white;
        }
    }
}

.block-title {
    position: relative;

    &:before {
        position: absolute;
        content: '';
        display: block;
        left:0;
        right: 0;
        top:0;
        bottom: 0;
    }

    &_text_works {
        &:before {
            background: url('../images/content/works-header.png') center center no-repeat;
        }
    }

    &_text_about {
        &:before {
            background: url('../images/content/about-header.png') center center no-repeat;
        }
    }
}

.block-title__text {
    position: relative;
}


.subtitle {
    margin-bottom: rem(40px);
    font-size: rem(35px);
    @include sansus();
    text-align: center;
    color:$gray;
    text-transform: uppercase;

    &:after {
        content: '';
        display: block;
        height: rem(3px);
        background-color: $gray;
        width: rem(90px);
        margin: rem(10px) auto 0;
    }

    &_color_white {
        color: $white;

        &:after {
            background-color: $white;
        }
    }
}

.subtitle__new-line {
    display: block;
}



.block-title__avatar {
    width: rem(141px);
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.block-title__image {
    display: block;
    max-width: 100%;
}

.block-title__subtext {
    color: $white;
}