.section-title {
    font-size: 63px;
    @include sansus();
    text-align: center;
    color:$dark;
    margin: 70px 0;
    text-transform: uppercase;
    line-height: 1;

    &:after {
        content: '';
        display: block;
        height: 3px;
        background-color: $dark;
        width: 90px;
        margin: 10px auto 0;
    }

    &_color_white {
        color:$white;

        &:after {
            background-color: $white;
        }
    }
}

.block-title__text {
    &_text_about {
        background: url('../images/content/about-header.png') no-repeat;
    }

    &_text_works {
        background: url('../images/content/works-header.png') no-repeat;
    }

    &_position_leftbottom {
        background-position: left bottom;
    }

    &_position_centerbottom {
        background-position: center bottom;
    }
}


.subtitle {
    margin-bottom: 40px;
    font-size: 35px;
    @include sansus();
    text-align: center;
    color:$gray;
    text-transform: uppercase;

    &:after {
        content: '';
        display: block;
        height: 3px;
        background-color: $gray;
        width: 90px;
        margin: 10px auto 0;
    }
}

.subtitle__new-line {
    display: block;
}



.block-title__avatar {
    width: 141px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.block-title__image {
    display: block;
    max-width: 100%;
}

.block-title__subtext {
    color: $white;
}