extends ../template

block variables
    -
        var settings = {
            page: 'about',
            title: 'Обо мне',
            subtitle: '',
            show_user_info: true
        }
block content
    h1 Обо мне
