extends ../template

block variables
    include ../common/_varibles
    include ../common/_mixins

    -
        var settings = {
            page: 'blog',
            title: 'Блог',
            subtitle: 'Статьи, которые я написал',
            show_user_info: false
        }

    -
        var articles = [
            {
                name: 'Самое важное в SASS',
                link: '#'
            },
            {
                name: 'Приёмы в вёрстке, без которых не обходится ни один сайт',
                link: '#'
            },
            {
                name: 'Самый необходимый набор Gulp плагинов',
                link: '#'
            },
            {
                name: 'Почему я выбрал Jade',
                link: '#'
            }
        ]
block content

    include ../common/_header

    section.blog.section
        .blog__top
            .blog__left
                svg.triangle(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 900 160" preserveaspectratio="none")
                    polygon.triangle__shape.triangle__shape_color_beige(points="0,0   0,160   900,160   900,155")

            .blog__right
                svg.triangle(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 900 160" preserveaspectratio="none")
                    polygon.triangle__shape.triangle__shape_color_white(points="900,0   900,160   0,160   0,155")

        .blog__content
            aside.sidebar.blog__sidebar
                nav.menu.sidebar__menu
                    ul.sidebar__list
                        each item in articles
                            li.sidebar__item
                                a.sidebar__link(href=`${item.link}`) #{item.name}

            .blog__articles
                article.article.blog__article
                    h2.article__title.subtitle Самое важное в SASS
                    p.article__date 22 ноября 2016
                    p
                        | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
                        | Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений.
                        | Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                    p
                        | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
                        | Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций,
                        | занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и
                        | реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров,
                        | соответствует насущным потребностям.

                    pre.article__snipet.block-code
                        ol.block-code__rows
                            li.block-code__row // присвоить
                            li.block-code__row $(jquery)
                            li.block-code__row
                            li.block-code__row $(jquery)

                article.article.blog__article
                    h2.article__title.subtitle Приёмы в вёрстке, без которых не обходится ни один сайт
                    p.article__date 13 ноября 2016
                    p
                        | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
                        | Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений.
                        | Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                    p
                        | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
                        | Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций,
                        | занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и
                        | реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров,
                        | соответствует насущным потребностям.

    include ../common/_footer