extends ../template

block variables
    -
        var settings = {
            page: 'blog',
            title: 'Блог',
            subtitle: 'Статьи, которые я написал',
            show_user_info: false
        }
block content
    h1 Блог
