extends ../template

block variables
    include ../common/_varibles
    include ../common/_mixins

    -
        var settings = {
            page: 'welcome',
            title: 'Добро пожаловать',
            subtitle: '',
            show_user_info: false
        }

block content

    header(class=`header section header_${settings.page}`)
        .header__row
            a.btn.btn_view_round.btn_fill_transparent(href="/login.html") Авторизоваться

    section.section.welcome
        .welcome__user-info
            .user.welcome__user
                .user__avatar
                    img.user__image(src="#")
                .user__info
                    .user__name
                    .user__description

            .socials.welcome__socials
                +socials(socials)

            .welcome__buttons
                a.btn(href="./works.html") Мои работы
                a.btn(href="./about.html") Обо мне
                a.btn(href="./blog.html") Блог

    footer.section.footer
        .footer__row
            .copyright.footer__copyright
                include ../common/_copyright
