extends ../template

block variables
    -
        var settings = {
            page: 'login',
            title: 'Авторизация',
            subtitle: '',
            show_user_info: false
        }

block content

    section.section.login
        h2.form__title.subtitle Авторизуйтесь

        form.form.login__form
            .form__fields
                .form__row
                    label.form__fieldset
                        input.form__input(type="text" name="login" id="ulogin" placeholder="Логин")
                .form__row
                    label.form__fieldset
                        input.form__input(type="password" name="password" id="upassword" placeholder="Пароль")
                .form__row
                    label.form__fieldset
                        input.form__input(type="checkbox" name="is_human" id="is_human" value="1")
                        .form__label Я человек
                .form__row
                    .form__group-fields
                        .form__label Вы точно не робот?
                    .form__group-fields
                        label.form__fieldset
                            input.form__input(type="radio" name="is_human_sure" id="is_human_sure_yes" value="1")
                            .form__label Да
                        label.form__fieldset
                            input.form__input(type="radio" name="is_human_sure" id="is_human_sure_not" value="0" checked="checked")
                            .form__label Не уверен
            .form__buttons
                button.btn На главную
                button.btn Войти

    footer.section.footer
        .footer__row
            .copyright.footer__copyright
                include ../common/_copyright
