block variables
include common/_varibles
include common/_mixins

doctype html
html
    head
        meta(charset="utf-8")
        title #{settings.title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel='stylesheet' href='./css/main.min.css')
        script(src='./js/main.bundle.js' defer)
    body
        if settings.page == "welcome"
            .background
                canvas.background__canvas

        div(class=`wrapper wrapper_page_${settings.page}`)

            block content

        include common/_footer

        include common/_fixed-menu