.blog {
    flex-direction: column;
    background-color: #f8f9f5;

    &:after {
        content: '';
        display: block;
        padding-bottom: -($footer-offset);
    }
}

.blog__content {
    display: flex;
}

.sidebar__menu {
    //flex-shrink: 4;
}

.sidebar__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    /*&:after {
        content: '';
        display: block;
        width: 3px;
        background-color: $green_d;
        height: 42px;
        margin-left: 20px;
    }*/
}

.sidebar__link {
    color: #455a64;
    text-decoration: none;
    display: block;
    padding: 20px 20px;

    &_active {
        border-right: 3px solid $green_l;
        color: $green_d;
    }

    &:hover {
        border-right: 3px solid $green_d;
        color: $green_d;
    }
}