.blog {
    flex-direction: column;
    background-color: #faf8f0;

    @include phones {
        background-color: $white;
    }
}

.blog__top {
    display: flex;
    width: 100%;
    position: relative;

    .triangle {
        @include phones {
            border-bottom-color: $white;
        }
    }
}

.blog__content {
    display: flex;

    padding-top: 60px;
    position: relative;
    z-index: 1;

    //@include phones {
    //    background-color: $white;
    //}
}

.blog__sidebar {
    padding: 0 5%;
    width: 20%;
    position: relative;

    @include laptop {
        padding: 0 1%;
        width: 24%;
    }

    @include tablets {
        position: fixed;

        transform: translateX(-100%);
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        display: flex;
        width: 70%;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: $green_l;
        transition: all .5s;
        padding: 0 30px;
    }

    &_opened {
        @include tablets {
            transform: translateX(0);
        }
    }
}

.sidebar__swipe-btn {
    display: none;

    @include tablets {
        display: flex;
        align-items: center;
        position: absolute;
        height: 100%;
        width: rem(30px);
        overflow: hidden;
        top: 0;
        z-index: 1;
        right: -#{rem(30px)};
    }
}

.swipe-btn {
    display: block;
    position: absolute;
    width: rem(60px);
    background-color: $green_l;
    height: rem(60px);
    transform: translateX(-70%);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 3px 0 3px rgba(#000000, 0.2);
}

.sidebar__menu {
    //flex-shrink: 4;

}

.sidebar__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: right;

    &_active {
        .sidebar__link {
            border-right: 3px solid $green_d;
            color: $green_d;

            @include tablets {

                border-right: 3px solid transparent;
                font-weight: 700;
                color: $white;
                opacity: 1;
            }
        }
    }

    &:hover {
        .sidebar__link {
            border-right: 3px solid $green_d;
            color: $green_d;

            @include tablets {

                border-right: 3px solid transparent;
                font-weight: 700;
                color: $white;
                opacity: 1;
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

}

.sidebar__link {
    color: #455a64;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-right: 3px solid transparent;
    font-weight:400;

    @include tablets {
        color: $white;
        opacity: .7;
    }


}

.blog__articles {
    padding-right: 10%;
    width: 65%;

    @include laptop {
        padding: 0 4%;
        width: 70%;
    }

    @include tablets {
        padding: 0;
        width: 95%;
        margin:0 auto;
    }
}

.blog__article {
    padding-bottom: 50px;
}

.article {
    p {
        padding-right: 10%;

        @include laptop {
            padding-right: 5%;
        }

        @include tablets {
            padding-right: 0;
        }
    }

    pre {
        //background-color: #e7e5e3;
        background-color: #f5f2f0;
        display: flex;
        width: 100%;
        overflow-x: auto;
    }

    &:after {
        content: '';
        height: 5px;
        width: 70%;
        display: block;
        background-color: #ecebe4;
        margin-top: 50px;

        @include tablets {
            width: 100%;
        }
    }

    &:last-child {
        &:after {
            display: none;
        }
    }
}

.block-code__rows {
    list-style-type: none;
    counter-reset:  item;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f5f2f0;
    padding: 20px 0;

    border-left: 50px solid #e7e5e3;

}

.block-code__row {
    margin-left: -20px;

    &:before {
        content: counter(item) '  ';
        counter-increment: item;
    }
}

.article__title {
    margin-bottom: 0;
    text-align: left;
    text-transform: initial;

    &:after {
        display: none;
    }
}

.article__date {
    color: $green_d;

}